<h1>Member's question 🚀</h1>

<p>Coach's answer : <%= params["answer"] %></p>

<form action="/answer">
  <p>Ask your coach anything : <input type="text" name="question">
  <input type="submit" value="Ask!"></p>
</form>
